<html>
<body>
<div background="#75badf" style="background: url(&quot;&quot;) no-repeat scroll left top rgb(117, 186, 223); padding: 32px 0pt 0pt; margin: 0pt;">
		<div style="text-align: center;">
			<div style="font-size: 12px; width: 610px; margin-left: auto; margin-right: auto; margin-bottom: 0px; text-align: right; padding-bottom: 10px;">
				&nbsp;
               
			</div>
		</div>
		<table style="border-collapse: collapse; table-layout: fixed; width: 610px ! important; font-size: 14px; font-family: Arial,Helvetica,sans-serif; margin: 0pt auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204);" align="center" cellpadding="0" cellspacing="0">
			<tbody><tr>

				<td width="10"></td>
				<td width="580">
					<table style="margin: 10px 0pt; width: 100% ! important;" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
					</tbody></table>
					<div style="height: 1px; background: none repeat scroll 0% 0% rgb(204, 204, 204); overflow: hidden;"></div>
					<div style="font-size: 14px; line-height: 1.5em;">
						
	<div style="margin-bottom: 30px; font-size: 14px; line-height: 1.5em; padding-top: 10px;">

        <p>亲爱的<strong>{name}</strong>，您好：</p>
        <div style="margin-bottom: 30px; padding: 10px; border: 1px solid rgb(204, 204, 204); background: none repeat scroll 0% 0% rgb(242, 242, 242); font-size: 12px; line-height: 2em;">

            <h3 style="margin-top: 0pt; font-size: 15px; font-weight: 700; border-bottom: 1px solid rgb(204, 204, 204);">

                以下是最新的为您推荐的<span style="color: red;">{position}</span>岗位：
            </h3>
			
             【{date}】上海<span style="color: red;">{position}</span>招聘，<a href="{view_direct_url}">立即查看</a><br>

            
             【{date}】上海<span style="color: red;">{position}</span>招聘，<a href="{view_direct_url}">立即查看</a> <br>
            
             【通知】 欢迎注册<a href="{view_reg_url}" target="_blank">赶集招聘网</a>，求职三步走：一写简历，二找准职位，三常刷新; <em style="color: green;">{date}</em><br>

            
            <p style="font-weight: bold;"><a href="{view_all_url}" target="_blank"><img src="http://htm.baicai.cn/mail/system_mail/images/view-all-msg.png" border="0"></a></p>
            <p style="margin: 0pt;"><span style="color: red;">求职助手</span>：及时查看求职动态，掌握求职主动权，提高求职效果！</p>
        </div>

        <div style="margin-bottom: 30px; border-top: 1px solid rgb(204, 204, 204); padding-top: 5px;">
            <p style="font-weight: 700; margin: 0pt;">&nbsp;</p>
</div>

	您收到这封邮件，是因为您在我们网站上注册了您的信息，进行了求职活动;如果您不想再收到此邮件，请点击<a href="#">取消订阅</a></div>
    
					</div>
					<p style="height: 1px; background: none repeat scroll 0% 0% rgb(204, 204, 204); overflow: hidden; margin: 5px 0pt;"></p></td>
				<td width="10"></td>
			</tr>
		</tbody></table>
		<table style="" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td colspan="5" height="25">{hidden_img}</td>

			</tr>
		</tbody></table>
		<div visibility="hidden"><img src="http://weblog.baicai.cn/mailLog.png?id=p_8787836_message&amp;emailType=personal_idea&amp;code=97672dd8dc2713277957e089aeceac67&amp;email=daliliu@qq.com&amp;userId=12541291&amp;sendTime=1314228341" height="0" width="0"></div>
	</div>
</body>
</html>